{
  "x-generator": "NSwag v14.0.2.0 (NJsonSchema v11.0.0.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Birdview PSA API",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://ses.go.easyprojects.net"
    }
  ],
  "paths": {
    "/api/v2/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Gets all customers visible to current user",
        "description": "Gets all customers visible to current user",
        "operationId": "Customers_Get",
        "parameters": [
          {
            "name": "Ids",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Filters by specific customer IDs.",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 1
          },
          {
            "name": "IsEnabled",
            "in": "query",
            "description": "Filters by enabled/disabled status.",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "Text",
            "in": "query",
            "description": "Free-text search value used to filter customers.\nFor API versions below v3, searches by Name only.\nFor API v3 and above, searches by both Name and Email.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "LastModificationDateFrom",
            "in": "query",
            "description": "Filters by last modification date (inclusive) starting from this value.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "LastModificationDateTo",
            "in": "query",
            "description": "Filters by last modification date (inclusive) up to this value.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Name of the property to sort by.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "Direction",
            "in": "query",
            "description": "Sort direction.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ]
            },
            "x-position": 7
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 8
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to take.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 9
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomersResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Creates new customer",
        "description": "Creates new customer",
        "operationId": "Customers_Post",
        "requestBody": {
          "x-name": "customerData",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCustomerModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Gets single customer visible to current user",
        "description": "Gets single customer visible to current user",
        "operationId": "Customers_Get2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Updates specified customer",
        "description": "Updates specified customer",
        "operationId": "Customers_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "updateModel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdateModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Deletes specified customer",
        "description": "Deletes specified customer",
        "operationId": "Customers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/customfields": {
      "get": {
        "tags": [
          "CustomFields"
        ],
        "summary": "Get CustomFields metadata",
        "description": "Get CustomFields metadata",
        "operationId": "CustomFields_Get",
        "parameters": [
          {
            "name": "FieldIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 1
          },
          {
            "name": "FieldDataTypeIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 2
          },
          {
            "name": "Entities",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/AppEntityID"
              }
            },
            "x-position": 3
          },
          {
            "name": "SpaceId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "OnlyGlobal",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/customfields/dataTypes": {
      "post": {
        "tags": [
          "CustomFields"
        ],
        "summary": "Gets custom fields data types",
        "description": "Gets custom fields data types",
        "operationId": "CustomFields_DataTypes",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldDataTypeResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/customfields/entityTypes": {
      "post": {
        "tags": [
          "CustomFields"
        ],
        "summary": "Gets custom fields entity types",
        "description": "Gets custom fields entity types",
        "operationId": "CustomFields_EntityTypes",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppEntityResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/customfields/{id}": {
      "delete": {
        "tags": [
          "CustomFields"
        ],
        "summary": "Deletes specified custom field",
        "description": "Deletes specified custom field",
        "operationId": "CustomFields_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/expenses": {
      "get": {
        "tags": [
          "Expenses"
        ],
        "summary": "Gets all expenses visible to current user",
        "description": "Gets all expenses visible to current user",
        "operationId": "Expenses_Get",
        "parameters": [
          {
            "name": "From",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "To",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "IsPlanned",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "ProjectId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "TaskId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "EnteredById",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "BasedOnId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "CustomFieldAlias",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "CustomFieldValue",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 9
          },
          {
            "name": "LastModificationDateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 10
          },
          {
            "name": "LastModificationDateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 11
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Name of the property to sort by.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 12
          },
          {
            "name": "Direction",
            "in": "query",
            "description": "Sort direction.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ]
            },
            "x-position": 13
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 14
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to take.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 15
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpensesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      },
      "post": {
        "tags": [
          "Expenses"
        ],
        "summary": "Creates new expense",
        "description": "Creates new expense",
        "operationId": "Expenses_Post",
        "requestBody": {
          "x-name": "expenseData",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewExpense"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Expense"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/expenses/{id}": {
      "get": {
        "tags": [
          "Expenses"
        ],
        "summary": "Gets single expense visible to current user",
        "description": "Gets single expense visible to current user",
        "operationId": "Expenses_Get2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Expense"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      },
      "put": {
        "tags": [
          "Expenses"
        ],
        "summary": "Updates specified expense",
        "description": "Updates specified expense",
        "operationId": "Expenses_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "updateModel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseUpdateModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Expense"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Expenses"
        ],
        "summary": "Patches specified expense",
        "description": "Patches (partially updates) specified expense",
        "operationId": "Expenses_Patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "updateModel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpensePatchModel"
              }
            },
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ExpensePatchModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Expense"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Expenses"
        ],
        "summary": "Deletes specified expense",
        "description": "Deletes specified expense",
        "operationId": "Expenses_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/portfolios": {
      "get": {
        "tags": [
          "Portfolios"
        ],
        "summary": "Gets all portfolios",
        "description": "Gets all portfolios",
        "operationId": "Portfolios_Get",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortfoliosResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Gets all projects visible to current user",
        "description": "Gets all projects visible to current user",
        "operationId": "Projects_Get",
        "parameters": [
          {
            "name": "Ids",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 1
          },
          {
            "name": "IncludeDisabledProjectMembers",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "IncludeGuestProjectMembers",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "IncludeTemplates",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "IncludeDrafts",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "IncludeCompleted",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "OnlyTemplates",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "CanManageProjectMembers",
            "in": "query",
            "description": "When true, returns only projects where the current user can manage project members.\nWhen false, returns only projects where the current user cannot manage project members.\nWhen null or omitted, this filter is not applied.",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "StatusIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 9
          },
          {
            "name": "PortfolioIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 10
          },
          {
            "name": "CustomerIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 11
          },
          {
            "name": "PrioritiesIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 12
          },
          {
            "name": "SpaceIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 13
          },
          {
            "name": "CreatorIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 14
          },
          {
            "name": "StartDateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 15
          },
          {
            "name": "StartDateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 16
          },
          {
            "name": "EndDateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 17
          },
          {
            "name": "EndDateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 18
          },
          {
            "name": "CreationDateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 19
          },
          {
            "name": "CreationDateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 20
          },
          {
            "name": "ActualCompletionDateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 21
          },
          {
            "name": "ActualCompletionDateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 22
          },
          {
            "name": "LastModificationDateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 23
          },
          {
            "name": "LastModificationDateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 24
          },
          {
            "name": "CustomFieldAlias",
            "in": "query",
            "description": "e.g. ProjectInt0",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 25
          },
          {
            "name": "CustomFieldValue",
            "in": "query",
            "description": "Leave empty to filter by custom field without a value.\n\nFor list-type custom fields: enter a comma-separated list of value IDs (e.g., '1' or '1,2,-1', where '-1' allows to filter list field with empty value).",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 26
          },
          {
            "name": "CustomFieldExactMatch",
            "in": "query",
            "description": "When true, text custom field filter (CustomFieldAlias + CustomFieldValue) is matched by exact equality instead of contains (substring).\nWhen false or omitted, the custom field value is matched using contains (e.g. LIKE '%value%').",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 27
          },
          {
            "name": "IncludePlainTextDescription",
            "in": "query",
            "description": "The project has a `Description` attribute which is stored as HTML.\n\nThis parameter allows you to include an additional `PlainTextDescription` attribute that is plain text.\n\nPass `true` to include `PlainTextDescription`.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 28
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Name of the property to sort by.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 29
          },
          {
            "name": "Direction",
            "in": "query",
            "description": "Sort direction.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ]
            },
            "x-position": 30
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 31
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to take.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 32
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Creates new project",
        "description": "Creates new project",
        "operationId": "Projects_Post",
        "requestBody": {
          "x-name": "projectData",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewProjectModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/projects/{id}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Gets single project visible to current user",
        "description": "Gets single project visible to current user",
        "operationId": "Projects_Get2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "includeDisabledProjectMembers",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "includeGuestProjectMembers",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "includePlainTextDescription",
            "in": "query",
            "description": "The project has a `Description` attribute which is stored as HTML.\n\nThis parameter allows you to include an additional `PlainTextDescription` attribute that is plain text.\n\nPass `true` to include `PlainTextDescription`.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      },
      "put": {
        "tags": [
          "Projects"
        ],
        "summary": "Updates specified project",
        "description": "Changes all properties of the specified project. NOTE: Starting from version 3, if a NULL value is passed, it will be applied as the new value.",
        "operationId": "Projects_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdateModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Deletes specified project",
        "description": "Deletes specified project",
        "operationId": "Projects_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/projects/{id}/messages": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create new project message",
        "description": "Create new project message",
        "operationId": "Projects_CreateMessage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "messageData",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewMessageModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/projects/{id}/members": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create new project member",
        "description": "Create new project member",
        "operationId": "Projects_CreateMember",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "projectMember",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewProjectMemberModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectMemberModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/publicholidays": {
      "get": {
        "tags": [
          "PublicHolidays"
        ],
        "summary": "Gets all public holidays",
        "description": "Gets all public holidays",
        "operationId": "PublicHolidays_Get",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicHolidaysResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      },
      "post": {
        "tags": [
          "PublicHolidays"
        ],
        "summary": "Creates new public holiday",
        "description": "Creates new public holiday",
        "operationId": "PublicHolidays_Post",
        "requestBody": {
          "x-name": "publicHoliday",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicHolidayModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicHolidayModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/publicholidays/{id}": {
      "get": {
        "tags": [
          "PublicHolidays"
        ],
        "summary": "Gets single public holiday",
        "description": "Gets single public holiday",
        "operationId": "PublicHolidays_Get2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicHolidayModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/spaces": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "summary": "Gets all spaces",
        "description": "Gets all spaces",
        "operationId": "Spaces_Get",
        "parameters": [
          {
            "name": "Ids",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpacesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/lists/categories": {
      "get": {
        "tags": [
          "SystemLists"
        ],
        "summary": "Gets categories",
        "description": "Gets categories",
        "operationId": "SystemLists_Categories",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoriesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/lists/priorities": {
      "get": {
        "tags": [
          "SystemLists"
        ],
        "summary": "Gets priorities",
        "description": "Gets priorities",
        "operationId": "SystemLists_Priorities",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrioritiesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/lists/workflows": {
      "get": {
        "tags": [
          "SystemLists"
        ],
        "summary": "Gets workflows",
        "description": "Gets workflows",
        "operationId": "SystemLists_Workflows",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/lists/taskstatuses": {
      "get": {
        "tags": [
          "SystemLists"
        ],
        "summary": "Gets task statuses",
        "description": "Gets task statuses",
        "operationId": "SystemLists_TaskStatuses",
        "parameters": [
          {
            "name": "TaskTypeId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "Ids",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 2
          },
          {
            "name": "TreatAsCompleted",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "TreatAsHold",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "TreatAsInactive",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatusesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/lists/projectstatuses": {
      "get": {
        "tags": [
          "SystemLists"
        ],
        "summary": "Gets proejct statuses",
        "description": "Gets project statuses",
        "operationId": "SystemLists_ProjectStatuses",
        "parameters": [
          {
            "name": "Ids",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 1
          },
          {
            "name": "TreatAsCompleted",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectStatusesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/lists/tasktypes": {
      "get": {
        "tags": [
          "SystemLists"
        ],
        "summary": "Gets task types",
        "description": "Gets task types",
        "operationId": "SystemLists_TaskTypes",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskTypesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/lists/currencies": {
      "get": {
        "tags": [
          "SystemLists"
        ],
        "summary": "Gets currencies",
        "description": "Gets currencies",
        "operationId": "SystemLists_GetCurrencies",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrenciesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/lists/billingtypes/project": {
      "get": {
        "tags": [
          "SystemLists"
        ],
        "summary": "Gets project billing types",
        "description": "Gets project billing types",
        "operationId": "SystemLists_GetProjectBillingType",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectBillingTypeResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/lists/billingtypes/task": {
      "get": {
        "tags": [
          "SystemLists"
        ],
        "summary": "Gets task billing type",
        "description": "Gets task billing type",
        "operationId": "SystemLists_GetTaskBillingType",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskBillingTypeResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/tasks/assignees": {
      "get": {
        "tags": [
          "TaskAssignees"
        ],
        "summary": "Gets all task assignees visible to current user",
        "description": "Gets all task assignees visible to current user",
        "operationId": "TaskAssignees_Get",
        "parameters": [
          {
            "name": "TaskAssigneeIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 1
          },
          {
            "name": "TaskIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 2
          },
          {
            "name": "UserIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 3
          },
          {
            "name": "ProjectMemberIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 4
          },
          {
            "name": "UnnamedResourceIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 5
          },
          {
            "name": "WorkIsDone",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "WorkIsDoneSetDateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "WorkIsDoneSetDateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Name of the property to sort by.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 9
          },
          {
            "name": "Direction",
            "in": "query",
            "description": "Sort direction.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ]
            },
            "x-position": 10
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 11
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to take.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 12
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskAssigneesResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      },
      "post": {
        "tags": [
          "TaskAssignees"
        ],
        "summary": "Create new task assignee using project member id",
        "description": "Create new task assignee using project member id",
        "operationId": "TaskAssignees_Post",
        "requestBody": {
          "x-name": "assignee",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskAssigneeModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskAssigneeModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/tasks/assignees/{id}": {
      "put": {
        "tags": [
          "TaskAssignees"
        ],
        "summary": "Update task assignee",
        "description": "Update task assignee",
        "operationId": "TaskAssignees_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "assigneeToUpdate",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskAssigneeModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskAssigneeModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      },
      "delete": {
        "tags": [
          "TaskAssignees"
        ],
        "summary": "Delete task assignee",
        "description": "Delete task assignee",
        "operationId": "TaskAssignees_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/tasks/{taskId}/assignees": {
      "get": {
        "tags": [
          "TaskAssignees"
        ],
        "summary": "Gets all assignees for specific task",
        "description": "Gets all assignees for specific task",
        "operationId": "TaskAssignees_Get2",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskAssigneesResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      },
      "put": {
        "tags": [
          "TaskAssignees"
        ],
        "summary": "Update assignees for the specific task",
        "description": "Update assignees for the specific task",
        "operationId": "TaskAssignees_Put2",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "setTaskAssigneesRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetTaskAssigneesRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskAssigneesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/tasks/{taskId}/assignees/append": {
      "post": {
        "tags": [
          "TaskAssignees"
        ],
        "summary": "Assign resource to the specific task",
        "description": "Assign resource to the specific task",
        "operationId": "TaskAssignees_AppendAssignee",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "setTaskAssignee",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetTaskAssigneeModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskAssigneesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Gets all tasks visible to current user",
        "description": "Gets all tasks visible to current user",
        "operationId": "Tasks_Get",
        "parameters": [
          {
            "name": "Ids",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 1
          },
          {
            "name": "ParentTaskId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "IncludeTasksFromDraftProjects",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "IncludeTasksFromTemplateProjects",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "IncludeTasksFromCompletedProjects",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "TaskTypes",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 6
          },
          {
            "name": "ProjectId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "IsBilled",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "IsMilestone",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 9
          },
          {
            "name": "HasChild",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 10
          },
          {
            "name": "ProjectIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 11
          },
          {
            "name": "TaskStatusIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 12
          },
          {
            "name": "PrioritiesIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 13
          },
          {
            "name": "CreatorIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 14
          },
          {
            "name": "BillingTypes",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 15
          },
          {
            "name": "StartDateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 16
          },
          {
            "name": "StartDateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 17
          },
          {
            "name": "EndDateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 18
          },
          {
            "name": "EndDateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 19
          },
          {
            "name": "CreationDateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 20
          },
          {
            "name": "CreationDateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 21
          },
          {
            "name": "ActualCompletionDateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 22
          },
          {
            "name": "ActualCompletionDateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 23
          },
          {
            "name": "LastModificationDateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 24
          },
          {
            "name": "LastModificationDateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 25
          },
          {
            "name": "CustomFieldAlias",
            "in": "query",
            "description": "e.g. TaskInt0",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 26
          },
          {
            "name": "CustomFieldValue",
            "in": "query",
            "description": "Leave empty to filter by custom field without a value.\n\nFor list-type custom fields: enter a comma-separated list of value IDs (e.g., '1' or '1,2,-1', where '-1' allows to filter list field with empty value).",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 27
          },
          {
            "name": "CustomFieldExactMatch",
            "in": "query",
            "description": "When true, text custom field filter (CustomFieldAlias + CustomFieldValue) is matched by exact equality instead of contains (substring).\nWhen false or omitted, the custom field value is matched using contains (e.g. LIKE '%value%').",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 28
          },
          {
            "name": "IncludePlainTextDescription",
            "in": "query",
            "description": "The task has a `Description` attribute which is stored as HTML.\n\nThis parameter allows you to include an additional `PlainTextDescription` attribute that is plain text.\n\nPass `true` to include `PlainTextDescription`.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 29
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Name of the property to sort by.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 30
          },
          {
            "name": "Direction",
            "in": "query",
            "description": "Sort direction.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ]
            },
            "x-position": 31
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 32
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to take.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 33
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TasksResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Creates new task",
        "description": "Creates new task",
        "operationId": "Tasks_Post",
        "parameters": [
          {
            "name": "returnTaskData",
            "in": "query",
            "description": "If true (default), the response will include the full task data. If false, only the task ID will be returned.",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "task",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewTaskModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/tasks/{id}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Gets single task visible to current user",
        "description": "Gets single task visible to current user",
        "operationId": "Tasks_Get2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "includePlainTextDescription",
            "in": "query",
            "description": "The task has a `Description` attribute which is stored as HTML.\n\nThis parameter allows you to include an additional `PlainTextDescription` attribute that is plain text.\n\nPass `true` to include `PlainTextDescription`.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      },
      "put": {
        "tags": [
          "Tasks"
        ],
        "summary": "Updates specified task",
        "description": "Changes all properties of the specified task. NOTE: Starting from version 3, if a NULL value is passed, it will be applied as the new value.",
        "operationId": "Tasks_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "CloseParent",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskUpdateModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "summary": "Deletes specified task",
        "description": "Deletes specified task",
        "operationId": "Tasks_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "oauth2_accesscode": []
          }
        ]
      }
    },
    "/api/v2/tasks/{id}/messages": {
      "post": {
        "tags": [
          "Tasks"
        ],
[...]
